.movie-details-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0 7rem 1rem;
}

.movie-details-content .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-details-content .details h1 {
    margin-bottom: 0;
}

.movie-details-content .info {
    max-width: 335px;
    text-align: left;
}
.movie-details-content img {
    border-radius: 20px;
}

.theater-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.theater-details h2 {
    margin-top: 0;
    text-align: left;
}

.theater-list,
.date-list,
.time-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.theater-list h4,
.date-list h4,
.time-list h4 {
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    transition: all 0.2s;
}

.theater-list h4:hover:not(.active),
.date-list h4:hover:not(.active),
.time-list h4:hover:not(.active) {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.theater-list .active,
.date-list .active,
.time-list .active {
    background-color: var(--primary-color);
}

.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-confirmation {
    min-width: 335px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1rem 2rem;
    text-align: left;
}

.order-confirmation h2 {
    margin: 0;
}

.order-confirmation h3 {
    margin-bottom: 0;
}

.order-confirmation p {
    margin-top: 0;
}

.order-confirmation button {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.order-confirmation button:hover:not(.disabled) {
    background-color: transparent;
    color: var(--primary-color);
}

.order-confirmation button.disabled {
    background-color: #333;
    color: #bababa;
    cursor: not-allowed;
    border-color: #333;
}

@media (max-width: 768px) {
    .movie-details-section {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .movie-details-section {
        padding: 2rem;
    }
}

/* CINEMA SEAT LAYOUT */

.seat-layout {
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen {
    background: #ccc;
    padding: 10px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.seats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seat-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.row-label {
    width: 20px;
    font-weight: bold;
}

.seat {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seat:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.seat.selected {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.bold {
    font-weight: bold;
}
