.navbar {
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    width: 100%;
}

.nav-logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s;
}

.login-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.nav-links a,
.nav-logo a {
    text-decoration: none;
}

.dashboard-link {
    font-weight: bold;
    color: white;
    transition: all 0.2s;
    margin-left: 1em;
}

.dashboard-link:hover {
    color: var(--hover-color);
}

@media (prefers-color-scheme: light) {
    .nav-logo a {
        color: #333;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
