.profile-dropdown {
    position: relative;
    z-index: 999;
}

.profile-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 1rem;
    margin: 0 2em;
    transition: all 0.2s;
}

.profile-icon:hover {
    color: var(--hover-color);
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #242424;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-menu button:last-child {
    border-radius: 0 0 4px 4px;
}

.dropdown-menu button:hover {
    color: white;
    background-color: var(--hover-color);
}

.dropdown-menu button.active {
    background-color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
    .dropdown-menu {
        border: 1px solid #bababa;
        background-color: #fff;
    }
}
