.pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.pagination-controls button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #242424;
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 14px;
}

.search-bar {
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 510px;
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    font-size: 16px;
    background-color: #242424;
}

.search-bar:focus {
    border-color: var(--primary-color);
}
